# === SQL Server Docker ===
SA_PASSWORD=YourStrong@Passw0rd
ACCEPT_EULA=Y

# === Connection String (.NET) ===
# Dùng trong appsettings.Development.json hoặc User Secrets
CONNECTION_STRING=Server=localhost,1433;Database=HeThongPOS;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=true;
